<div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 515px;">
    <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/dark-green-water_23-2147933832.jpg?w=1380&t=st=1689294492~exp=1689295092~hmac=e86f140ab26d6d603aa85f6bc5b5146b562e69aa08288d4b8217c4969d54eb5e" data-toggle="lightbox" data-title="sample 1 - white">
            <img src="https://img.freepik.com/free-photo/dark-green-water_23-2147933832.jpg?w=1380&t=st=1689294492~exp=1689295092~hmac=e86f140ab26d6d603aa85f6bc5b5146b562e69aa08288d4b8217c4969d54eb5e" class="img-fluid mb-2" alt="white sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(263px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/abstract-smoke-wallpaper-background-desktop_53876-128257.jpg?w=1380&t=st=1689294551~exp=1689295151~hmac=ff37a35d93d29fc10cc8f016631aba2c4670a23d66be7454a94fb68e099b0a1d" data-toggle="lightbox" data-title="sample 2 - black">
            <img src="https://img.freepik.com/free-photo/abstract-smoke-wallpaper-background-desktop_53876-128257.jpg?w=1380&t=st=1689294551~exp=1689295151~hmac=ff37a35d93d29fc10cc8f016631aba2c4670a23d66be7454a94fb68e099b0a1d" class="img-fluid mb-2" alt="black sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(526px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/galactic-night-sky-astronomy-science-combined-generative-ai_188544-9656.jpg?w=1380&t=st=1689294595~exp=1689295195~hmac=266afcb47e8da051348b1996f80c880bc1b3dc95477450e02dc6cb192fba8824" data-toggle="lightbox" data-title="sample 3 - red">
            <img src="https://img.freepik.com/free-photo/galactic-night-sky-astronomy-science-combined-generative-ai_188544-9656.jpg?w=1380&t=st=1689294595~exp=1689295195~hmac=266afcb47e8da051348b1996f80c880bc1b3dc95477450e02dc6cb192fba8824" class="img-fluid mb-2" alt="red sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(789px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/blossom-floral-bouquet-decoration-colorful-beautiful-flowers-background-garden-flowers-plant-pattern-wallpapers-greeting-cards-postcards-design-wedding-invites_90220-1103.jpg?w=1800&t=st=1689294618~exp=1689295218~hmac=6fcdd04c15cf4f293bd2d122d43e0a4f0e3ba2a25ab9770bc7d6e7bc73b212f0" data-toggle="lightbox" data-title="sample 4 - red">
            <img src="https://img.freepik.com/free-photo/blossom-floral-bouquet-decoration-colorful-beautiful-flowers-background-garden-flowers-plant-pattern-wallpapers-greeting-cards-postcards-design-wedding-invites_90220-1103.jpg?w=1800&t=st=1689294618~exp=1689295218~hmac=6fcdd04c15cf4f293bd2d122d43e0a4f0e3ba2a25ab9770bc7d6e7bc73b212f0" class="img-fluid mb-2" alt="red sample">
        </a>
    </div>   
    <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(0px, 256px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/painting-rocky-shore-with-rocks-sea-sun-shining-water_188544-12638.jpg?w=1380&t=st=1689294628~exp=1689295228~hmac=83b5342ecb60d0f28bc1d0a543517b67cf02e4e37d80cbd1a3ac6821e690bad8" data-toggle="lightbox" data-title="sample 7 - white">
            <img src="https://img.freepik.com/free-photo/painting-rocky-shore-with-rocks-sea-sun-shining-water_188544-12638.jpg?w=1380&t=st=1689294628~exp=1689295228~hmac=83b5342ecb60d0f28bc1d0a543517b67cf02e4e37d80cbd1a3ac6821e690bad8" class="img-fluid mb-2" alt="white sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(263px, 256px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/flowing-purple-mountain-spiral-bright-imagination-generated-by-ai_188544-9853.jpg?t=st=1689291706~exp=1689295306~hmac=58e2a7cb44eae3cbd53c869df123407d7fc6608aa4dc8979ebf728cdba2d8f03&w=1380" data-toggle="lightbox" data-title="sample 8 - black">
            <img src="https://img.freepik.com/free-photo/flowing-purple-mountain-spiral-bright-imagination-generated-by-ai_188544-9853.jpg?t=st=1689291706~exp=1689295306~hmac=58e2a7cb44eae3cbd53c869df123407d7fc6608aa4dc8979ebf728cdba2d8f03&w=1380" class="img-fluid mb-2" alt="black sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(526px, 256px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-photo/autumn-leaves-fall-gracefully-painting-nature-canvas-generative-ai_188544-9370.jpg?w=1380&t=st=1689294620~exp=1689295220~hmac=697e574644655b008e81bd4e63d827e79a134c60dace7a648e912b7def0bc867" data-toggle="lightbox" data-title="sample 9 - red">
            <img src="https://img.freepik.com/free-photo/autumn-leaves-fall-gracefully-painting-nature-canvas-generative-ai_188544-9370.jpg?w=1380&t=st=1689294620~exp=1689295220~hmac=697e574644655b008e81bd4e63d827e79a134c60dace7a648e912b7def0bc867" class="img-fluid mb-2" alt="red sample">
        </a>
    </div>
    <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(789px, 256px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 260.4px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
        <a href="https://img.freepik.com/free-psd/tropical-foliage-background_53876-91352.jpg?w=1380&t=st=1689294710~exp=1689295310~hmac=810e64c6918d5eeec3071ea367ba3694a9c67d373d5146e2d8a909c5d4bec342" data-toggle="lightbox" data-title="sample 10 - white">
            <img src="https://img.freepik.com/free-psd/tropical-foliage-background_53876-91352.jpg?w=1380&t=st=1689294710~exp=1689295310~hmac=810e64c6918d5eeec3071ea367ba3694a9c67d373d5146e2d8a909c5d4bec342" class="img-fluid mb-2" alt="white sample">
        </a>
    </div>
</div>
